 .u-section-1 {
  background-image: url("images/bnbnn.jpg");
  background-position: 50% 50%;
  min-height: 679px;
}

.u-section-1 .u-image-1 {
  width: 614px;
  left: 0;
  right: auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 458px;
  margin: 1px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 677px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  transform-origin: left center;
  margin: 256px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-2 {
  height: 520px;
  width: 364px;
  object-position: 50% 63.05%;
  margin: -638px auto 0 calc(((100% - 1140px) / 2)  + 206px);
}

.u-section-1 .u-group-1 {
  width: 257px;
  min-height: 461px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
  height: auto;
  margin: -422px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 1px 38px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 15px 40px 0 35px;
}

.u-section-1 .u-shape-1 {
  width: 110px;
  height: 110px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -41px -55px -31px auto;
}

.u-section-1 .u-shape-2 {
  width: 70px;
  height: 70px;
  background-image: linear-gradient(#ffd8d5, #9d9fe4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -531px auto 540px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 560px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-line-1 {
    height: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: calc(((100% - 940px) / 2) + 206px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 429px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    order: 0;
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 206px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 322px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 176px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 169px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-2 {
    height: 486px;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -388px;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 838px;
}

.u-section-2 .u-list-1 {
  width: 458px;
  margin: 103px auto 0 85px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 632px;
  grid-auto-columns: 100%;
  grid-gap: 32px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 19px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 43px 23px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 24px 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 24px 0;
}

.u-section-2 .u-list-2 {
  width: 458px;
  height: auto;
  margin: -632px auto 60px 592px;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 632px;
  grid-auto-columns: 100%;
  grid-gap: 32px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 43px 41px 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px 43px 0;
}

.u-section-2 .u-text-6 {
  margin: 0 auto 0 42px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 40px auto 0 43px;
}

.u-section-2 .u-text-8 {
  margin: 0 51px 0 42px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 39px auto 0 42px;
}

.u-section-2 .u-text-10 {
  margin: 0 auto 0 42px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
    margin-left: 45px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-2 {
    margin-left: 437px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-2 {
    margin-left: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-right: 93px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 108px;
    margin-left: 42px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 661px;
}

.u-section-3 .u-text-1 {
  margin: 136px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 39px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height: 256px;
  grid-gap: 22px;
}

.u-section-3 .u-list-item-1 {
  --radius: 15px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-3 .u-group-1 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 14px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 20px 15px 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0 13px;
}

.u-section-3 .u-list-item-2 {
  --radius: 15px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 16px;
}

.u-section-3 .u-group-2 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 14px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px 15px 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0 13px;
}

.u-section-3 .u-list-item-3 {
  --radius: 15px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 16px;
}

.u-section-3 .u-group-3 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 14px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 20px 15px 0;
}

.u-section-3 .u-text-11 {
  font-style: italic;
  margin: 20px 0 0 13px;
}

.u-section-3 .u-list-item-4 {
  --radius: 15px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 16px;
}

.u-section-3 .u-group-4 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 14px;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  margin: 20px 15px 0;
}

.u-section-3 .u-text-14 {
  font-style: italic;
  margin: 20px 0 0 13px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 314px;
  }

  .u-section-3 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }

  .u-section-3 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
  }

  .u-section-3 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 697px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateY(6px) !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateY(6px) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateY(6px) !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateY(6px) !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateY(6px) !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateY(6px) !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: translateY(6px) !important;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: translateY(6px) !important;
} .u-section-4 {
  background-image: linear-gradient(180deg, #fbfbfd, #fee7ef);
}

.u-section-4 .u-sheet-1 {
  min-height: 813px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 58px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.75rem;
  margin: 265px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 49px 73px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 723px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  min-height: 567px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 15px;
  height: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  height: 466px;
  margin: 9px 5px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 596px;
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 596px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-form-1 {
    width: 350px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    height: 472px;
    width: 475px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-form-1 {
    width: 300px;
  }
}